$scale: ("x3s", "x2s", "xs", "sm", "md", "lg", "xl", "x2l", "x3l");

.gap {
  box-sizing: border-box;
  flex-grow: 0;
}

.spacer {
  flex-grow: 1;
}

// Gaps
@each $value in $scale {
  .size-#{$value} {padding: var(--t-gap-#{$value});}
}
.size-none {padding: 0;}

@each $value in $scale {
  .vert-#{$value} {padding-top: var(--t-gap-#{$value});padding-bottom: var(--t-gap-#{$value});}
  .hor-#{$value} {padding-left: var(--t-gap-#{$value});padding-right: var(--t-gap-#{$value});}
}
.vert-none {padding-top: 0;padding-bottom: 0;}
.hor-none {padding-left: 0;padding-right: 0;}

@each $value in $scale {
  .top-#{$value} {padding-top: var(--t-gap-#{$value});}
  .right-#{$value} {padding-right: var(--t-gap-#{$value});}
  .bottom-#{$value} {padding-bottom: var(--t-gap-#{$value});}
  .left-#{$value} {padding-left: var(--t-gap-#{$value});}
}
.top-none {padding-top: 0;}
.right-none {padding-right: 0;}
.bottom-none {padding-bottom: 0;}
.left-none {padding-left: 0;}