$fill: ("base", "faint", "accent", "complement", "critic", "warning", "success");
$fill-shift: ("up", "down");
$scale: ("x3s", "x2s", "xs", "sm", "md", "lg", "xl", "x2l", "x3l");
$family: ("regular", "special");
$weight: (100, 200, 300, 400, 500, 600, 700, 800, 900);
$align: (left, center, right);

// Reset
.font {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  font-style: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  white-space: inherit;
  user-select: inherit;
}

.inline {
  display: inline-block;
}

.block {
  display: block;
}

.underline {
  text-decoration: underline;
}

.non-underline {
  text-decoration: none;
}

.noselect {
  user-select: none;
}

.nowrap {
  white-space: nowrap;
}

.italic {
  font-style: italic;
}
.non-italic {
  font-style: normal;
}

.uppercase {
  text-transform: uppercase;
}
.non-uppercase {
  text-transform: none;
}


// Size
@each $value in $scale {
  .size-#{$value} {
    font-size: var(--t-font-size-#{$value});
  }
}


// Weight
@each $value in $weight {
  .weight-#{$value} {
    font-weight: $value;
  }
}


// Line Height
@each $value in $scale {
  .line-height-#{$value} {
    line-height: var(--t-font-line-height-#{$value});
  }
}


// Letter Spacing
@each $value in $scale {
  .letter-spacing-#{$value} {
    letter-spacing: var(--t-font-letter-spacing-#{$value});
  }
}

// Align
@each $value in $align {
  .align-#{$value} {
    text-align: $value;
  }
}

// Family
@each $value in $family {
  .family-#{$value} {
    font-family: var(--t-font-family-#{$value});
  }
}


// Fill
@each $value in $fill {
  .fill-#{$value} {
    color: var(--t-font-fill-#{$value}-strong, var(--t-fill-#{$value}-strong));
  }
  .inverse.fill-#{$value} {
    color: var(--t-font-fill-#{$value}-weak, var(--t-fill-#{$value}-weak));
  }

  @each $shift in $fill-shift {
    .fill-#{$value}-#{$shift} {
      color: var(--t-font-fill-#{$value}-strong-#{$shift}, var(--t-fill-#{$value}-strong-#{$shift}));
    }
    .inverse.fill-#{$value}-#{$shift} {
      color: var(--t-font-fill-#{$value}-weak-#{$shift}, var(--t-fill-#{$value}-weak-#{$shift}));
    }
  }
}

.fill-none {
  color: transparent;
}