$fill: ("base", "faint", "accent", "complement", "critic", "warning", "success");
$fill-shift: ("up", "down");
$scale: ("x3s", "x2s", "xs", "sm", "md", "lg", "xl", "x2l", "x3l");
$forces: ("stroke", "fill");

.icon {
  box-sizing: content-box !important;
}

// Size
@each $value in $scale {
  .size-#{$value} {
    width: var(--t-icon-size-#{$value});
    height: var(--t-icon-size-#{$value});
    min-width: var(--t-icon-size-#{$value});
    min-height: var(--t-icon-size-#{$value});
  }
}

// Handling fills
.inverse {
  *[fill] {
    fill: var(--t-fill-base-weak);
  }

  *[stroke] {
    stroke: var(--t-fill-base-weak);
  }
}

@each $value in $fill {
  .fill-#{$value} {
    *[fill] {
      fill: var(--t-icon-fill-#{$value}-strong, var(--t-fill-#{$value}-strong));
    }

    *[stroke] {
      stroke: var(--t-icon-fill-#{$value}-strong, var(--t-fill-#{$value}-strong));
    }
  }
  .inverse.fill-#{$value} {
    *[fill] {
      fill: var(--t-icon-fill-#{$value}-weak, var(--t-fill-#{$value}-weak));
    }

    *[stroke] {
      stroke: var(--t-icon-fill-#{$value}-weak, var(--t-fill-#{$value}-weak));
    }
  }

  @each $shift in $fill-shift {
    .fill-#{$value}-#{$shift} {
      *[fill] {
        fill: var(--t-icon-fill-#{$value}-strong-#{$shift}, var(--t-fill-#{$value}-strong-#{$shift}));
      }

      *[stroke] {
        stroke: var(--t-icon-fill-#{$value}-strong-#{$shift}, var(--t-fill-#{$value}-strong-#{$shift}));
      }
    }
    .inverse.fill-#{$value}-#{$shift} {
      *[fill] {
        fill: var(--t-icon-fill-#{$value}-weak-#{$shift}, var(--t-fill-#{$value}-weak-#{$shift}));
      }

      *[stroke] {
        stroke: var(--t-icon-fill-#{$value}-weak-#{$shift}, var(--t-fill-#{$value}-weak-#{$shift}));
      }
    }
  }
}

// Force fills
@each $force in $forces {
  .force-#{$force} {
    &.inverse {
      *[class],
      *[stroke],
      *[fill] {
        #{$force}: var(--t-fill-base-weak);
      }
    }

    @each $value in $fill {
      &.fill-#{$value} {
        *[class],
        *[stroke],
        *[fill] {
          #{$force}: var(--t-icon-fill-#{$value}-strong, var(--t-fill-#{$value}-strong));
        }
      }
      &.inverse.fill-#{$value} {
        *[class],
        *[stroke],
        *[fill] {
          #{$force}: var(--t-icon-fill-#{$value}-weak, var(--t-fill-#{$value}-weak));
        }
      }

      @each $shift in $fill-shift {
        &.fill-#{$value}-#{$shift} {
          *[class],
          *[stroke],
          *[fill] {
            #{$force}: var(--t-icon-fill-#{$value}-strong-#{$shift}, var(--t-fill-#{$value}-strong-#{$shift}));
          }
        }
        &.inverse.fill-#{$value}-#{$shift} {
          *[class],
          *[stroke],
          *[fill] {
            fill: var(--t-icon-fill-#{$value}-weak-#{$shift}, var(--t-fill-#{$value}-weak-#{$shift}));
          }
        }
      }
    }
  }
}

.fill-none {
  * {
    fill: none !important;
    stroke: none !important;
  }
}

.icon {
  *[fill="none"] {
    fill: none !important;
  }

  *[stroke="none"] {
    stroke: none !important;
  }
}
