// NOT IN USE RIGHT NOW
// PLAN TO DELETE


$fill: ("base", "faint", "accent", "complement", "critic", "warning", "success");
$fill-shift: ("up", "down");
$scale: ("x3s", "x2s", "xs", "sm", "md", "lg", "xl", "x2l", "x3l");


// Reset
.box {
  border-radius: 0;
  outline: none;
  border: none;
}

.fill-none {background: transparent;
}

.img {
  background-size: cover;
  background-position: center;
}


// Fill
@each $value in $fill {
  .fill-#{$value} {
    background-color: var(--t-fill-#{$value}-weak);
  }
  .strong.fill-#{$value} {
    background-color: var(--t-box-fill-#{$value}-strong, var(--t-fill-#{$value}-strong));
  }
  .fancy.fill-#{$value} {
    background-image: var(--t-fancy-fill-#{$value}-weak, var(--t-fill-#{$value}-weak));
  }
  .fancy.strong.fill-#{$value} {
    background-image: var(--t-fancy-fill-#{$value}-strong, var(--t-fill-#{$value}-strong));
  }
  .inverse.fill-#{$value} {
    background-color: var(--t-box-fill-#{$value}-weak, var(--t-fill-#{$value}-weak));
  }

  @each $shift in $fill-shift {
    .fill-#{$value}-#{$shift} {
      background-color: var(--t-fill-#{$value}-weak-#{$shift}, var(--t-fill-#{$value}-weak));
    }
    .strong.fill-#{$value}-#{$shift} {
      background-color: var(--t-box-fill-#{$value}-strong-#{$shift}, var(--t-fill-#{$value}-strong-#{$shift}));
    }
    .fancy.fill-#{$value}-#{$shift} {
      background-image: var(--t-fancy-fill-#{$value}-weak-#{$shift}, var(--t-fill-#{$value}-weak-#{$shift}));
    }
    .strong.fancy.fill-#{$value}-#{$shift} {
      background-image: var(--t-fancy-fill-#{$value}-strong-#{$shift}, var(--t-fill-#{$value}-strong-#{$shift}));
    }
    .inverse.fill-#{$value}-#{$shift} {
      background-color: var(--t-box-fill-#{$value}-weak-#{$shift}, var(--t-fill-#{$value}-weak-#{$shift}));
    }
  }
}


// Radius
$max-radius: 1000px;

@each $value in $scale {
  .radius-#{$value} {
    border-radius: var(--t-box-radius-#{$value});
  }
}
.radius-none {border-radius: 0;}
.radius-max {border-radius: $max-radius;}

@each $value in $scale {
  .radius-top-#{$value} {
    border-top-left-radius: var(--t-box-radius-#{$value});
    border-top-right-radius: var(--t-box-radius-#{$value});
  }
  
  .radius-bottom-#{$value} {
    border-bottom-left-radius: var(--t-box-radius-#{$value});
    border-bottom-right-radius: var(--t-box-radius-#{$value});
  }
  .radius-right-#{$value} {
    border-bottom-right-radius: var(--t-box-radius-#{$value});
    border-top-right-radius: var(--t-box-radius-#{$value});
  }
  .radius-left-#{$value} {
    border-bottom-left-radius: var(--t-box-radius-#{$value});
    border-top-left-radius: var(--t-box-radius-#{$value});
  }
}
.radius-top-none {border-top-left-radius: 0; border-top-right-radius: 0;}
.radius-bottom-none {border-bottom-left-radius: 0; border-bottom-right-radius: 0;}
.radius-right-none {border-bottom-right-radius: 0; border-top-right-radius: 0;}
.radius-left-none {border-bottom-left-radius: 0; border-top-left-radius: 0;}
.radius-top-max {border-top-left-radius: $max-radius; border-top-right-radius: $max-radius;}
.radius-bottom-max {border-bottom-left-radius: $max-radius; border-bottom-right-radius: $max-radius;}
.radius-right-max {border-bottom-right-radius: $max-radius; border-top-right-radius: $max-radius;}
.radius-left-max {border-bottom-left-radius: $max-radius; border-top-left-radius: $max-radius;}


@each $value in $scale {
  .radius-tl-#{$value} {
    border-top-left-radius: var(--t-box-radius-#{$value});
  }
  .radius-tr-#{$value} {
    border-top-right-radius: var(--t-box-radius-#{$value});
  }
  .radius-br-#{$value} {
    border-bottom-right-radius: var(--t-box-radius-#{$value});
  }
  .radius-bl-#{$value} {
    border-bottom-left-radius: var(--t-box-radius-#{$value});
  }
}
.radius-tl-none {border-top-left-radius: 0;}
.radius-tr-none {border-top-right-radius: 0;}
.radius-br-none {border-bottom-right-radius: 0;}
.radius-bl-none {border-bottom-left-radius: 0;}
.radius-tl-max {border-top-left-radius: $max-radius;}
.radius-tr-max {border-top-right-radius: $max-radius;}
.radius-br-max {border-bottom-right-radius: $max-radius;}
.radius-bl-max {border-bottom-left-radius: $max-radius;}


// Shadow
@each $value in $scale {
  .shadow-#{$value} {
    box-shadow: var(--t-box-shadow-#{$value});
  }
}
.shadow-none {
  box-shadow: none;
}

// Blur
@each $value in $scale {
  .blur-#{$value} {
    backdrop-filter: blur(var(--t-box-blur-#{$value}));
  }
}
.blur-none {
  backdrop-filter: none;
}

// Shadow Inner
@each $value in $scale {
  .shadow-inner-#{$value} {
    box-shadow: inset var(--t-box-shadow-inner-#{$value});
  }
}
.shadow-inner-none {
  box-shadow: none;
}

// Glow
@each $value in $scale {
  .glow-#{$value} {
    box-shadow: var(--t-box-glow-#{$value});
  }
}
.glow-none {
  box-shadow: none;
}